<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActivityArray</key>
	<array>
		<dict>
			<key>title</key>
			<string>AOK</string>
			<key>date</key>
			<date>2012-06-22T06:00:00Z</date>
			<key>endDate</key>
			<date>2012-06-22T06:40:00Z</date>
			<key>site</key>
			<string>乐来乐快乐舞台</string>
			<key>band</key>
			<string>主唱\吉他：种旭  贝司：闫松  主音吉他：大伟  鼓手：张扬  键盘：付鹏</string>
			<key>image</key>
			<string>AOK</string>
			<key>detail</key>
			<string>以美国航天局发言人用以描述1961年的一次载人太空飞行的航空用语“AOK”作为队名，正是希望这支乐队能像这个名称的寓意一样：完美无缺。主唱种旭说，音乐对于他来说，是一种自信，更是一种力量。摇滚乐更是他表达生活中高兴、喜悦、愤怒和悲伤的途径。他们的歌曲中，淋漓尽致流露出来的，正是最真实的生活。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>赌鬼</string>
			<key>date</key>
			<date>2012-06-22T07:00:00Z</date>
			<key>endDate</key>
			<date>2012-06-22T07:40:00Z</date>
			<key>site</key>
			<string>乐来乐快乐舞台</string>
			<key>band</key>
			<string>主唱/吉他: 王梓  贝司：刘昊  鼓：关铮 </string>
			<key>image</key>
			<string>赌鬼</string>
			<key>detail</key>
			<string>赌鬼乐队（Casino Demon）成立于2004年。乐队主创王子堪称不折不扣的“音乐神童”，无论从歌曲创作还是吉他技法上都自成一套，现场即兴更是他的拿手绝活。在音乐创作上，Casino Demon受The Strokes，The Libertines，Arcade Fire等乐队影响较大，注重琅琅上口的旋律和精妙的吉他编配，对青春，爱情，崇拜，冲动这些词汇极其敏感。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>逃跑计划</string>
			<key>date</key>
			<date>2012-06-22T08:00:00Z</date>
			<key>endDate</key>
			<date>2012-06-22T08:40:00Z</date>
			<key>site</key>
			<string>乐来乐快乐舞台</string>
			<key>band</key>
			<string>主唱：毛川 吉他：马晓东 鼓：红桃 贝斯：刚昂 键盘：李剑</string>
			<key>image</key>
			<string>逃跑计划</string>
			<key>detail</key>
			<string>逃跑计划乐队风格以Indie pop（独立流行）为主，其间也融入了Electeonic、New wave（新浪潮）、Postpunk（后朋）等音乐元素，伴随着青春的律动，使得乐队的音乐在保留了原来唯美且感人至深的旋律的同时，更加具有时代的气息，更富有激情和活力。乐队主唱的声音充满激情，具有超强的震撼力，加之乐队欢快与动情旋律巧妙的成为整体，娴熟自然的表演与即兴狂热的交织，将观众的情绪推至顶点。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>曹方</string>
			<key>date</key>
			<date>2012-06-22T09:00:00Z</date>
			<key>endDate</key>
			<date>2012-06-22T09:40:00Z</date>
			<key>site</key>
			<string>乐来乐快乐舞台</string>
			<key>band</key>
			<string></string>
			<key>image</key>
			<string>曹方</string>
			<key>detail</key>
			<string>简单的歌词叙述，少女般轻盈的吟唱，精良的吉他配乐，还有梦幻般奇特的口风琴声，与民谣流行乐用心的编织在一起，曹方的歌直接触碰到了现代年轻人的内心，就仿佛是在与一位昔日老友共同回忆过去般亲切。她那标志性的自由曲风，深深感染了生活在繁杂都市的人们。没有多余的赘述——这正是她音乐的核心所在。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>诱导社</string>
			<key>date</key>
			<date>2012-06-22T10:00:00Z</date>
			<key>endDate</key>
			<date>2012-06-22T10:40:00Z</date>
			<key>site</key>
			<string>乐来乐快乐舞台</string>
			<key>band</key>
			<string>主唱：雷霖  吉他：张帆  贝司：梁伟  鼓：于巍</string>
			<key>image</key>
			<string>诱导社</string>
			<key>detail</key>
			<string>“诱导社”的音乐受“primus”和“红辣椒”的影响颇多（例如：跳动铿锵的贝司、诡异的吉他SOLO等）。在相当一部分作品里，贝司的成分较大。有些听起来好似咬牙切齿一般,有一种嚼蜡似的麻醉感。但除去了PRIMUS式的RAP和部份FUNK成分，取而代之的则是一些更PUNK味儿的东西。虽然乐队成员都很年轻，但在音乐上却十分老道，与那些和他们同龄的乐队相比，无论在技术上还是风格上，都有很大不同。他们的音乐中融合了punk、funk、gothic、grunge等多种音乐元素，非常多变而丰富。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>二手玫瑰</string>
			<key>date</key>
			<date>2012-06-22T11:00:00Z</date>
			<key>endDate</key>
			<date>2012-06-22T11:40:00Z</date>
			<key>site</key>
			<string>乐来乐快乐舞台</string>
			<key>band</key>
			<string>主唱：梁龙（梁虫） 吉他：姚澜  贝司：李自强  鼓手：孙权  民乐：吴泽琨</string>
			<key>image</key>
			<string>二手玫瑰</string>
			<key>detail</key>
			<string>最有民族性的一支乐队。是近两年内中国新近崛起的摇滚乐队中最妖艳、最有民族性的一支乐队。乐队成立以来，以特有的个性脱颖而出，东北二人转的音乐元素与现代摇滚乐不露声色的嫁接，夸张的表演和朴实戏谑的唱词，再加上民乐的奇幻运用，使观众的视觉和听觉充满了刺激和震撼。主唱梁龙在演出时更是继承了中国曲艺精粹的旦角表现方式，以“四大名旦”为榜样，男扮女装、浓妆艳抹、挥洒豪情。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>谢天笑</string>
			<key>date</key>
			<date>2012-06-22T12:00:00Z</date>
			<key>endDate</key>
			<date>2012-06-22T13:00:00Z</date>
			<key>site</key>
			<string>乐来乐快乐舞台</string>
			<key>band</key>
			<string></string>
			<key>image</key>
			<string>谢天笑</string>
			<key>detail</key>
			<string>“中国摇滚新教父”谢天笑，被媒体和乐迷公认为中国摇滚乐“现场之王”，他的歌和现场表演更是被无数人翻唱和模仿。在他的音乐作品中，距离现今已有2000多年历史的中国古老乐器“筝”与西方摇滚的完美融合，使其顺理成章的创造出了全新的中国摇滚之声。与其他同时代中国摇滚乐队不同的是，谢天笑饱满内敛，充满中国意像的词作使他们的音乐更富于厚度和感染力。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>OOC控制之外</string>
			<key>date</key>
			<date>2012-06-23T06:00:00Z</date>
			<key>endDate</key>
			<date>2012-06-23T06:40:00Z</date>
			<key>site</key>
			<string>乐来乐快乐舞台</string>
			<key>band</key>
			<string>主唱：程晨  吉他：苗佳  贝司：陈欣  鼓：文龙
</string>
			<key>image</key>
			<string>OOC控制之外</string>
			<key>detail</key>
			<string>一路行走一路高歌，对自由与音乐的热爱从未因时光变迁有丝毫减少。主唱程晨在海外居住五年，曾经自驾车自西向东横穿北美大陆，历时一个月游历了美国的 18个州23个城市，看了98场演唱会。苗佳的吉他风格独立，陈欣曾经是01年 “摇滚生力军乐队比赛”和04年“康师傅冰红茶乐队大赛” “最佳贝司手”，鼓手文龙对各种音乐风格的把握非常自然，对他们来说，音乐是人生的一种标准和理想。
</string>
		</dict>
		<dict>
			<key>title</key>
			<string>惘闻</string>
			<key>date</key>
			<date>2012-06-23T07:00:00Z</date>
			<key>endDate</key>
			<date>2012-06-23T07:40:00Z</date>
			<key>site</key>
			<string>乐来乐快乐舞台</string>
			<key>band</key>
			<string>吉他：谢玉岗\耿鑫 贝斯：铮子 鼓：连江 键盘：张岩峰
</string>
			<key>image</key>
			<string>惘闻</string>
			<key>detail</key>
			<string>惘闻的音乐仿佛在讲述一个个藏于他们内心的故事，或而是短暂的愉悦，或而是长久的悲恸。十年稳定坚实的创作，一场场令人激动振奋的现场演出，也使惘闻的名字开始越来越多的受到来自国内外业内人士及乐迷的广泛关注，并被认为是中国后摇滚/器乐摇滚的领军人。而对于他们本身，仿佛每一张唱片，每一次演出都仅仅是一个开始。
</string>
		</dict>
		<dict>
			<key>title</key>
			<string>爽子与瓷乐队</string>
			<key>date</key>
			<date>2012-06-23T08:00:00Z</date>
			<key>endDate</key>
			<date>2012-06-23T08:40:00Z</date>
			<key>site</key>
			<string>乐来乐快乐舞台</string>
			<key>band</key>
			<string>主唱：爽子  吉他：苗佳  DJ：吕硕  贝司：陈然然  键盘：小吉  鼓：李浩</string>
			<key>image</key>
			<string>爽子</string>
			<key>detail</key>
			<string>爽子：MC，中国嘻哈之王。爽子是中国第一代嘻哈歌手，他以纯正的HIP-HOP风格融合地道的京腔儿说唱开创了中国嘻哈音乐之先河，爽子的主打歌曲《挂念》、《离开》、《在北京》等数首广为流传的曲目，展现了新新人类独特的视角和另类的表达方式。数年来不断的创作与演出，让爽子在全国积累了大批忠实歌迷。犀利的表达与深刻的寓意，让爽子成为中国当代年轻人无可争辩的代言人。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>郝云</string>
			<key>date</key>
			<date>2012-06-23T09:00:00Z</date>
			<key>endDate</key>
			<date>2012-06-23T09:40:00Z</date>
			<key>site</key>
			<string>乐来乐快乐舞台</string>
			<key>band</key>
			<string></string>
			<key>image</key>
			<string>郝云</string>
			<key>detail</key>
			<string>郝云从创作的初始阶段，就将自己置身于他最熟悉的大众生活中，他常说他就在人群中间，就在这片热闹的土地上、人流穿梭的城市里，与他的朋友、家人、同事、以及路上的陌生人朝夕相对，也正如此，他的每一首歌都带有浓浓的“人味儿”，你常在这些歌中不自觉的看见自己生活里的某一个场景、某一个与你熟识的知交，你会因这些旋律大笑，也会流下眼泪，它来自郝云的生活，来自你我他生命中的每一个早中晚。
</string>
		</dict>
		<dict>
			<key>title</key>
			<string>杭盖</string>
			<key>date</key>
			<date>2012-06-23T11:00:00Z</date>
			<key>endDate</key>
			<date>2012-06-23T11:40:00Z</date>
			<key>site</key>
			<string>乐来乐快乐舞台</string>
			<key>band</key>
			<string>主唱/口弦：胡日查（老胡） 马头琴/潮尔：巴图巴根 呼麦/班卓琴：伊里奇（ILchi） 吉他/三弦/主唱：义拉拉塔（胜利） 鼓手：李中涛（李旦） 贝司手：钮鑫</string>
			<key>image</key>
			<string>杭盖</string>
			<key>detail</key>
			<string>杭盖乐队的成员分别来自于中国的内蒙古、新疆、青海，以及首都北京，因为不同的地区都有各自独特而悠久的音乐传统，乐队有意识的挑选了最富有代表性的民间旋律并赋予了独特的演绎方式和情感，使他们的作品在饱含民族传统的同时呈现出当代的特点和新意。传统的蒙古族乐器如马头琴、口弦和三弦与吉他、电贝司和架子鼓等西方现代乐器就这样不可思议而又无比融洽的结合在一起。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>张楚</string>
			<key>date</key>
			<date>2012-06-23T12:00:00Z</date>
			<key>endDate</key>
			<date>2012-06-23T13:00:00Z</date>
			<key>site</key>
			<string>乐来乐快乐舞台</string>
			<key>band</key>
			<string></string>
			<key>image</key>
			<string>张楚</string>
			<key>detail</key>
			<string>张楚，中国最具人文气质的歌手。他的歌词有着浓厚的现代诗歌味道，含蓄而深邃，他用歌词这一边缘文学形式表达着自己的思索与体验。他的歌特别感伤，歌声浑厚苍茫，他的音乐和词语是作为一体而产生的，是一同从心里流出来任其自然地流下去。他的一首《姐姐》唱遍大江南北，94年和窦唯、何勇、唐朝乐队赴香港，“中国摇滚乐势力”演唱会引起极大轰动，开辟了中国摇滚的鼎盛时代。
</string>
		</dict>
		<dict>
			<key>title</key>
			<string>赵彬与乐队</string>
			<key>date</key>
			<date>2012-06-22T06:30:00Z</date>
			<key>endDate</key>
			<date>2012-06-22T07:30:00Z</date>
			<key>site</key>
			<string>张冠李戴舞台</string>
			<key>band</key>
			<string></string>
			<key>image</key>
			<string>赵彬</string>
			<key>detail</key>
			<string>西电硕博连读，一个搞科研的音乐人，混迹于学术和不学无术之间，西安独立英文民谣诗人。从小受到艺术气息的熏陶，5岁接触电子琴，9岁开始学习钢琴，初中毕业后开始自学吉他，高中阶段又断断续续的学过萨克斯和声乐。喜欢音乐，热爱原创，已经逐渐成为西安原创音乐圈的中坚人物。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Nous underground</string>
			<key>date</key>
			<date>2012-06-22T07:30:00Z</date>
			<key>endDate</key>
			<date>2012-06-22T08:10:00Z</date>
			<key>site</key>
			<string>张冠李戴舞台</string>
			<key>band</key>
			<string>主唱: 王昆  主唱: 于烔  主唱: 房伯汉  主唱: 郝星宇  DJ：高伟航</string>
			<key>image</key>
			<string>Nous underground</string>
			<key>detail</key>
			<string>NOUS UNDERGROUND（简称N/U）来自西安，成立于2010年，音乐风格以HIPHOP为主。主要成员有：PACT/MonstaMasta/Killa4nia/DirtyTwinz/爵症/DJ Unknown 等。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>TBOR</string>
			<key>date</key>
			<date>2012-06-22T08:30:00Z</date>
			<key>endDate</key>
			<date>2012-06-22T09:10:00Z</date>
			<key>site</key>
			<string>张冠李戴舞台</string>
			<key>band</key>
			<string>主唱: 王东  键盘: 高伟航  吉它: 何力炜  伴唱：许茜  鼓：宋少雄</string>
			<key>image</key>
			<string>TBOR</string>
			<key>detail</key>
			<string>TBOR乐队是一支电子摇滚乐队，电子合成器在编曲与演出中大量使用，动听的旋律、上口的歌词、强力的节奏，使得TBOR有着独特的风格与声音。在音乐道路上，TBOR只想架起合成器，让电子摇滚之声彻夜不停。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>琥珀</string>
			<key>date</key>
			<date>2012-06-22T09:30:00Z</date>
			<key>endDate</key>
			<date>2012-06-22T10:10:00Z</date>
			<key>site</key>
			<string>张冠李戴舞台</string>
			<key>band</key>
			<string>吉它: 王左   吉它: 杨谅  贝司：崔尧  鼓：李冠宇</string>
			<key>image</key>
			<string>琥珀</string>
			<key>detail</key>
			<string>琥珀乐队开始于2010年,西安,夏末。取名琥珀(AMBER)，是因为他们的音乐追求华美的旋律，且在悦耳的音符后面，更多掺杂着他们创作时的情绪，他们的音乐融合着对生活的感悟。
</string>
		</dict>
		<dict>
			<key>title</key>
			<string>岛屿心情</string>
			<key>date</key>
			<date>2012-06-22T10:30:00Z</date>
			<key>endDate</key>
			<date>2012-06-22T11:10:00Z</date>
			<key>site</key>
			<string>张冠李戴舞台</string>
			<key>band</key>
			<string>主唱: 刘博宽  吉它: 刘博宽   吉它: 史维旭  贝司：张龙   鼓：格桑咸俊</string>
			<key>image</key>
			<string>岛屿心情</string>
			<key>detail</key>
			<string>2007年11月成立于古城西安。他们爱闹，他们爱笑，他们是四个刚刚长大的孩子。人生偶尔也有不如意，他们一起克服。相信他们都希望有这样一座小岛，大家住在岛上，与世隔绝，快乐自己的快乐。他们正在用音乐搭建这座小岛，不指望一朝一夕，只希望细水长流，用声音穿透一切。他们是——岛屿心情。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>黑撒</string>
			<key>date</key>
			<date>2012-06-22T11:30:00Z</date>
			<key>endDate</key>
			<date>2012-06-22T12:10:00Z</date>
			<key>site</key>
			<string>张冠李戴舞台</string>
			<key>band</key>
			<string>主唱：曹石  王大治  吉他：张宁  贝司：双喜  鼓手：毕涛</string>
			<key>image</key>
			<string>黑撒</string>
			<key>detail</key>
			<string>“黑撒”乐队来自西安，十三朝古都的厚重文化给予了黑撒无穷的创作灵感。从2007年发行专辑首张《起的比鸡还早》到2009年的《我的黄金时代》，从受邀担任阿甘电影《高兴》音乐监制及主创到荣获第十届华语传媒音乐大奖“最佳嘻哈艺人”奖，黑撒乐队一路走来得到业界以及歌迷认可。就好比“黑撒”的歌词中所唱到的，他们要“把老祖宗秦始皇的口音发扬光大”！听完他们的作品，你会发现，原来陕西话是这么动听和迷人。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>THE FUZZ</string>
			<key>date</key>
			<date>2012-06-23T06:30:00Z</date>
			<key>endDate</key>
			<date>2012-06-23T07:30:00Z</date>
			<key>site</key>
			<string>张冠李戴舞台</string>
			<key>band</key>
			<string>主唱：杰森  吉他/合成器：蓝野  贝斯/合成器：马克  鼓手：铂洋</string>
			<key>image</key>
			<string>THE FUZZ</string>
			<key>detail</key>
			<string>要用醉醺醺的脑袋去想象，当车库和电子的融合之后，会出现怎样的情况。The Fuzz就是这样一个似乎永远以酒醉状示人的乐队，提取车库的简练干脆，又融合电子的芜杂和前卫。The Fuzz的现场有着惊人的煽动性，像是不知疲倦的永动机发着令人不可遏制想要去聆听的噪音！是的，是不好听的噪音，但你又忍不住不去听。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>未卜乐队</string>
			<key>date</key>
			<date>2012-06-23T07:30:00Z</date>
			<key>endDate</key>
			<date>2012-06-23T08:10:00Z</date>
			<key>site</key>
			<string>张冠李戴舞台</string>
			<key>band</key>
			<string>主唱: 赵缘艺  吉它: 吴明迪  贝司：王喆  鼓：李根 </string>
			<key>image</key>
			<string>未卜乐队</string>
			<key>detail</key>
			<string>未卜乐队是一支不被音乐风格所束缚的乐队，以独立民谣摇滚为主，风格多样，因为这个世界上没有人每天都是一种心情。人生百态，酸、甜、苦、辣……正如未卜乐队的名字一样，未来具体发生什么无法预测，但对于未来的成长却是“未卜先知”，未卜乐队一定会尽其所能的给人们带来更好的音乐！</string>
		</dict>
		<dict>
			<key>title</key>
			<string>玄乐队</string>
			<key>date</key>
			<date>2012-06-23T08:30:00Z</date>
			<key>endDate</key>
			<date>2012-06-23T09:10:00Z</date>
			<key>site</key>
			<string>张冠李戴舞台</string>
			<key>band</key>
			<string>主唱: 任强  吉它: 刘刚  贝司：孔令谊  鼓手：雷磊  </string>
			<key>image</key>
			<string>玄乐队</string>
			<key>detail</key>
			<string>玄乐队，一支来诞生于世界历史名城，华夏精神故乡―陕西西安的新派流行乐，源自千年文化历史名城的深厚底蕴。玄乐队风格界定于新式独立曲风，其风格涵盖民谣、流行(POP)、摇滚(ROCK)、方言说唱(R&amp;B)等多种形式，其大部分音乐作品都融合了民族音乐的优秀特质和各类特殊调式。 
</string>
		</dict>
		<dict>
			<key>title</key>
			<string>无争</string>
			<key>date</key>
			<date>2012-06-23T09:30:00Z</date>
			<key>endDate</key>
			<date>2012-06-23T10:10:00Z</date>
			<key>site</key>
			<string>张冠李戴舞台</string>
			<key>band</key>
			<string>主唱: 汤龙  吉它: 王思涵  吉它: 李宇行  贝司：陈星之  鼓：张超  </string>
			<key>image</key>
			<string>无争</string>
			<key>detail</key>
			<string>无争乐队成立于2008年，经过4年的时间，在不断的推陈出新和自我突破中完善，人员更换和旁人碎语等一切困难无法阻止我们继续坚持自己喜爱的风格的音乐，也希望你们会喜欢我们的作品。OK，整装待发，期待与朋友们在每一个现场见！JOIN US！
</string>
		</dict>
		<dict>
			<key>title</key>
			<string>王建房</string>
			<key>date</key>
			<date>2012-06-23T11:30:00Z</date>
			<key>endDate</key>
			<date>2012-06-23T12:10:00Z</date>
			<key>site</key>
			<string>张冠李戴舞台</string>
			<key>band</key>
			<string>主唱: 王建房  吉它:吴俊永   吉它:贾伟豪  贝司：马紫更  鼓： 程喆   键盘：张树婷</string>
			<key>image</key>
			<string>王建房</string>
			<key>detail</key>
			<string>王建房是一个在古老城墙下徜徉思索的西北汉子，骨子里是锲而不舍、永不言败。长安特有的淳朴的民风，激发起他无限的创作激情与灵感歌词独具陕西人的朴讷温厚而又爽直豪放的地域情怀，曲风创作上既有秦腔的高亢激越，信天游的悠远单纯，又将眉胡、碗碗腔、合阳线胡等特色运用其中。让你在酣畅淋漓中感受着他们，让你在坚定柔情中感受着他们，那——就是西北人岁月沧桑下执着的呐喊。
</string>
		</dict>
		<dict>
			<key>title</key>
			<string>马飞</string>
			<key>date</key>
			<date>2012-06-23T10:30:00Z</date>
			<key>endDate</key>
			<date>2012-06-23T11:10:00Z</date>
			<key>site</key>
			<string>张冠李戴舞台</string>
			<key>band</key>
			<string>主唱: 马飞  节奏吉它: 马飞  主音吉它: 叶茂  口琴：妖梵  鼓&amp;三弦：张亮  </string>
			<key>image</key>
			<string>马飞</string>
			<key>detail</key>
			<string>陕西方言乐队，歌曲主要描写普通人的普通生活，代表作《长安县》，岐山面、谝闲传，马飞的歌在西安可以说无人不知，无人不晓。
</string>
		</dict>
		<dict>
			<key>title</key>
			<string>杨众国</string>
			<key>date</key>
			<date>2012-06-22T07:15:00Z</date>
			<key>endDate</key>
			<date>2012-06-22T07:55:00Z</date>
			<key>site</key>
			<string>乐噪音舞台</string>
			<key>band</key>
			<string></string>
			<key>image</key>
			<string>杨众国</string>
			<key>detail</key>
			<string>杨众国，风格以实验即兴民谣为主，善于掌控嗓音和细微的声音，唱功与嗓音很独特而具有感染力，对于声音即兴的循环，以及情感的把握相当细腻，曾为树、小河、冯昊、内桥和久暖场交流，是一个非常有才华和潜力的原创歌手。
</string>
		</dict>
		<dict>
			<key>title</key>
			<string>XBH</string>
			<key>date</key>
			<date>2012-06-22T08:15:00Z</date>
			<key>endDate</key>
			<date>2012-06-22T08:55:00Z</date>
			<key>site</key>
			<string>乐噪音舞台</string>
			<key>band</key>
			<string></string>
			<key>image</key>
			<string>XBH</string>
			<key>detail</key>
			<string>系统误差发起人之一，Colourful Z-bra乐队吉他手&amp;主唱，主要以吉他和效果器即兴为主，风格游走于即兴、噪音、迷幻之间。曾参与多场系统误差演出，与内河桥久和冯昊演出交流。
</string>
		</dict>
		<dict>
			<key>title</key>
			<string>董黑木</string>
			<key>date</key>
			<date>2012-06-22T09:15:00Z</date>
			<key>endDate</key>
			<date>2012-06-22T09:55:00Z</date>
			<key>site</key>
			<string>乐噪音舞台</string>
			<key>band</key>
			<string></string>
			<key>image</key>
			<string>董黑木</string>
			<key>detail</key>
			<string>花搅乐队主唱&amp;吉他手，受后朋影响较大，音乐阴森冰冷。受POST punk/Psychedelic 音乐影响音乐最大的特点就是风格跨度很大，理念就是打造奇怪的兴奋点，为观众带来深刻的听觉刺激和心理冲击。
</string>
		</dict>
		<dict>
			<key>title</key>
			<string>三噪谷</string>
			<key>date</key>
			<date>2012-06-22T10:15:00Z</date>
			<key>endDate</key>
			<date>2012-06-22T10:55:00Z</date>
			<key>site</key>
			<string>乐噪音舞台</string>
			<key>band</key>
			<string></string>
			<key>image</key>
			<string>三噪谷</string>
			<key>detail</key>
			<string>来自通州NOJIJI地下声响集团的李杨漾+梅志勇+杨修，带来硬性模拟与灵魂交错感的迷离高能噪音现场，他们分别以吉他和录音机扰动和硬件采样等方式带来的合奏与独奏之三角能量景观，确是让你进入另外一种生命次元的可能。
</string>
		</dict>
		<dict>
			<key>title</key>
			<string>麻沸散</string>
			<key>date</key>
			<date>2012-06-22T11:15:00Z</date>
			<key>endDate</key>
			<date>2012-06-22T11:55:00Z</date>
			<key>site</key>
			<string>乐噪音舞台</string>
			<key>band</key>
			<string></string>
			<key>image</key>
			<string>麻沸散</string>
			<key>detail</key>
			<string>来自中国-颠倒古今时空、混淆中外观念、搅拌前后摇滚、致力于传统电声器乐的非常规演绎与破坏传统的常规演绎，以自由即兴的手法，不时在现场引发具有颠覆性的听觉事件。他们的音乐可以使人中枢神经信号传导速度提高，抑制焦虑，促进肾上腺素的分泌，并在强力气场中引发思维重组。
</string>
		</dict>
		<dict>
			<key>title</key>
			<string>唵</string>
			<key>date</key>
			<date>2012-06-23T07:15:00Z</date>
			<key>endDate</key>
			<date>2012-06-23T07:55:00Z</date>
			<key>site</key>
			<string>乐噪音舞台</string>
			<key>band</key>
			<string></string>
			<key>image</key>
			<string>唵</string>
			<key>detail</key>
			<string>空，确实是 &quot;唵”最崇高，最伟大的体现。空是无始无终的存在。多人随机即兴团体，没有固定结构，没有固定玩法，没有主唱，没有什么美学价值，你要愿意也可以来参加，最好不会乐器，无技术者优先。事件剧，偶发剧，集体朗诵，群体即兴行为。
</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Mind Fiber</string>
			<key>date</key>
			<date>2012-06-23T08:15:00Z</date>
			<key>endDate</key>
			<date>2012-06-23T08:55:00Z</date>
			<key>site</key>
			<string>乐噪音舞台</string>
			<key>band</key>
			<string></string>
			<key>image</key>
			<string>mindfiber</string>
			<key>detail</key>
			<string>Mind Fiber 是李剑鸿和 VAVABOND 的环境即兴团体，旨在通过即兴演奏的创作和演出，让所在的环境私人化，成为自我情感表达的一部分。不再需要观众的注意，不再需要常规的演出场地，生活中的一切环境声场都可以成为 Mind Fiber 即兴的兴趣所在，也将会是他们音乐的共同完成者。
</string>
		</dict>
		<dict>
			<key>title</key>
			<string>颜峻</string>
			<key>date</key>
			<date>2012-06-23T09:15:00Z</date>
			<key>endDate</key>
			<date>2012-06-23T09:55:00Z</date>
			<key>site</key>
			<string>乐噪音舞台</string>
			<key>band</key>
			<string></string>
			<key>image</key>
			<string>颜峻</string>
			<key>detail</key>
			<string>颜峻，乐评人，独立音乐和艺术活动策划人，声音艺术家，即兴演奏者，诗人。现场常利用电子设备，在喇叭，话筒，观众以及环境之间形成微妙反馈关系，使声音自行变化。有“微型反馈”项目，以耳机线联接观众，近距离噪声催眠。偶尔用葵花籽做乐器，将即兴音乐化约为简单声音及其间隔。借以上乐器之延伸，环境之延伸，音乐概念之延伸，而参与艺术活动。
</string>
		</dict>
		<dict>
			<key>title</key>
			<string>李剑鸿</string>
			<key>date</key>
			<date>2012-06-23T10:15:00Z</date>
			<key>endDate</key>
			<date>2012-06-23T10:55:00Z</date>
			<key>site</key>
			<string>乐噪音舞台</string>
			<key>band</key>
			<string></string>
			<key>image</key>
			<string>李剑鸿</string>
			<key>detail</key>
			<string>李剑鸿,目前中国大陆最活跃、最重要的噪音及即兴音乐家之一，擅长用吉它制造出强烈的噪音。李剑鸿早先擅长以电视机电磁波、接触式麦克风与效果器调制出强暴的噪音，目前演出以吉他和效果器的即兴为主，风格游走于即兴、噪音、迷幻音乐之间。最近开始在环境与演奏的相互关系中开拓创作新方向，以环境即兴为名经行系列创作。
</string>
		</dict>
		<dict>
			<key>title</key>
			<string>陈皓伊与菲尔•明顿二重奏
</string>
			<key>date</key>
			<date>2012-06-23T11:15:00Z</date>
			<key>endDate</key>
			<date>2012-06-23T11:55:00Z</date>
			<key>site</key>
			<string>乐噪音舞台</string>
			<key>band</key>
			<string></string>
			<key>image</key>
			<string>陈皓伊</string>
			<key>detail</key>
			<string>陈皓伊和菲尔•明顿的二重奏始于2006年，随后逐渐发展为一个非常独特的团体。他们专注于纯然的嗓音和唇齿之声，探索着自身天然的，身体的‘乐器’。他们的即兴演奏是无所畏惧的，易碎的，饥渴的，激情的，放荡的，哀恸的，野兽般的，人所能发出的各种声音。今年，他们在比利时实验大厂Sub Rosa发表了首张专辑。
</string>
		</dict>
	</array>
</dict>
</plist>
