<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActivityArray</key>
	<array>
		<dict>
			<key>site</key>
			<string>Site A</string>
			<key>date</key>
			<date>2012-06-20T06:43:01Z</date>
			<key>band</key>
			<string>The big bang theory</string>
			<key>title</key>
			<string>A Sheldon Cooper</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>site</key>
			<string>Site B</string>
			<key>date</key>
			<date>2012-06-20T07:43:01Z</date>
			<key>band</key>
			<string>The big bang theory</string>
			<key>title</key>
			<string>B Penny</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>site</key>
			<string>Site C</string>
			<key>date</key>
			<date>2012-06-20T07:43:01Z</date>
			<key>band</key>
			<string>The big bang theory</string>
			<key>title</key>
			<string>C Penny</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>site</key>
			<string>Site A</string>
			<key>date</key>
			<date>2012-06-21T07:43:01Z</date>
			<key>band</key>
			<string>The big bang theory</string>
			<key>title</key>
			<string>A Penny</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>site</key>
			<string>Site A</string>
			<key>date</key>
			<date>2012-06-21T09:43:01Z</date>
			<key>band</key>
			<string>The big bang theory</string>
			<key>title</key>
			<string>A Wolowitz</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>site</key>
			<string>Site B</string>
			<key>date</key>
			<date>2012-06-21T06:43:01Z</date>
			<key>band</key>
			<string>The big bang theory</string>
			<key>title</key>
			<string>B Wolowitz</string>
			<key>image</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
