<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>historyArray</key>
	<array>
		<dict>
			<key>text</key>
			<string>2008年张冠李戴音乐节
演出时间：2008年12月13日-14日 
演出地点：西安纺织城艺术区创造工房
08张冠李戴室内独立音乐节于2008年12月13日-14日在西安纺织城艺术区创造工房举行，共邀请国内艺人和乐队共十支，其中包括摩登天空旗下的新裤子乐队和牛奶@咖啡乐队，为本次音乐节带来了惊喜。
阔别西安4年之久的声音与玩具乐队也在音乐节上给大家带来熟悉的旋律，同时还有来自成都的两支新晋乐队：海龟先生和马赛克乐队。西安的黑撒乐队，ECHO RUSH乐队，美好青年（HUSH）乐队，SUCKER乐队。
乐队阵容：
新裤子乐队 
木玛&amp;THIRD PARTY乐队 
声音玩具乐队 
牛奶@咖啡乐队 
黑撒乐队 
海龟先生乐队 
马赛克乐队 
ECHO RUSH乐队 
SUCKER乐队 
BEAUTIFUL YOUTH（HUSH）乐队 
合作伙伴：绳空间 创造工房 豌豆摄影工厂 绿洲音乐网 摩登天空 小酒馆 FM988 时音唱片　MOGO网 </string>
			<key>title</key>
			<string>2008 张冠李戴</string>
			<key>backgroundImage</key>
			<string>2008background</string>
			<key>detailImage</key>
			<string>happy2008</string>
		</dict>
		<dict>
			<key>text</key>
			<string>2009年张冠李戴音乐节
演出时间：2009年5月28-29日 
演出地点：西安东郊纺织城艺术区 
本次音乐节将联合中国新青年创意联盟、当代艺术空间，第二次将音乐节、创意市集、当代艺术展结合在一起。并首次加入跳蚤市场，“摇滚青春”摄影展，音乐节体验区，倡导全新生活理念，展开心中美好生活图景，释放简单生活观。在快乐中寻找到最真实的自我。囊括更多的年轻创意文化、音乐类型、生活美学，希望完整呈现生活中最简单的哲学，也邀请大众更贴近生活中最简单的快乐。向人们所展示的一种全新的生活态度，让每一个参加的人充分享受音乐与生活，带给大家一个属于自己的节日，给西安一个新的娱乐定义。 
乐队阵容：
ECHO RUSH乐队 
AV大久保乐队 
NONAME乐队 
旅行团乐队 
川子 
幸福大街乐队
爽子与义和团
地下婴儿乐队
布衣乐队
AK47乐队
二手玫瑰乐队
泰迪的愿望乐队&amp;乱战门
SUCKER乐队
马赛克乐队
黑撒乐队
小类&amp;11乐队
逃跑计划乐队
果味VC乐队
万晓利
JOYSIDE乐队
姜昕
痛仰乐队</string>
			<key>title</key>
			<string>2009 张冠李戴</string>
			<key>backgroundImage</key>
			<string>2009background</string>
			<key>detailImage</key>
			<string>happy2009</string>
		</dict>
		<dict>
			<key>text</key>
			<string>2009年张冠李戴音乐节第二季
演出时间：10月17日-18日（周六和周日）14：00--23：00 
演出地点：西安东郊纺织城艺术区
10月17日-18日“乐来乐快乐”09张冠李戴音乐节第二季将继续在东郊纺织城艺术区延续了第一季的快乐，现场由20个优秀艺人及乐队呈现真诚的音乐，并设立了艺术展区、创意市集、跳槽市场、涂鸦艺术区等，上演了一场融音乐、艺术家、设计师的实验剧。
乐队阵容：
岛屿心情乐队
T.B.O.R
李漠
赌鬼乐队
刺猬乐队
声音碎片乐队
苏阳乐队
扭曲机器乐队
重塑雕像的权利乐队
新裤子乐队
ECHO RUSH
黑撒乐队
阿修罗乐队
便利商店乐队
反光镜乐队
李志
沼泽乐队
周云山与废墟乐队
木玛&amp;THIRD PARTY乐队
超级市场</string>
			<key>title</key>
			<string>2009 张冠李戴 第二季</string>
			<key>backgroundImage</key>
			<string>2009background2nd</string>
			<key>detailImage</key>
			<string>happy20092nd</string>
		</dict>
		<dict>
			<key>text</key>
			<string>2010年张冠李戴之Happy holiday
演出时间：2010年9月24日 
演出地点：西安纺织城艺术区“创造工房”
2010张冠李戴Happy holiday——回忆曾经的快乐，经过三年的成长，张冠李戴已经越来越成熟，在音乐的道路上也越来越走的从容不迫。
这一季，夜叉、逃跑计划等乐队的加盟给参与者带来了全新的视听体验，本土乐队黑撒依然将他们的经典作品带来。它成功延续了往届的精华，那就是用音乐将快乐带给每一个人。正如张冠李戴一贯坚持的：有一个孩子，野心勃勃的，蹦跳着绕过满地悲伤的叶子。奔跑的赶来，身上带着，一堆温暖和快乐，悄悄穿过我们的身体……
乐队阵容： 
夜叉 
黑撒 
热超波 
SUCKER 
逃跑计划 
甜蜜旅行 
HONIG（DE） 
泰迪的愿望 
Iowa Super Soccer（PL） </string>
			<key>title</key>
			<string>2010 张冠李戴 Happy holiday</string>
			<key>backgroundImage</key>
			<string>2010background</string>
			<key>detailImage</key>
			<string>happy2010hh</string>
		</dict>
		<dict>
			<key>text</key>
			<string>2010张冠李戴音乐节之happy birthday
演出时间：2010年11月14日—12月13日 
地点：光圈CLUB 
西安张冠李戴音乐节3周年Coming soon
如今这个小孩子已经三岁了
它收获过喜悦，也经历过痛苦
它不骄不躁，有主见，坚持自己的风格
它很快乐，音乐响起，它就会快乐的在我们身边舞蹈
它爱西安，爱纺织城，爱摇滚乐，爱张冠李戴音乐节，爱每一个伴随它成长的你们
每次见到它
它都会给带给我们惊喜
同时
也给我们带来了中国最好听的声音
它让每一个参与的人充分享受音乐与生活
乐队阵容： 
二手玫瑰
TBOR
甜蜜旅行
AV大久保
诱导社
黑撒</string>
			<key>title</key>
			<string>2010 张冠李戴 Happy birthday</string>
			<key>backgroundImage</key>
			<string>2010background2nd</string>
			<key>detailImage</key>
			<string>happy2010hb</string>
		</dict>
	</array>
</dict>
</plist>
